<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Portfolio Layout</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nameContainer">
        <div class="name" id="givenname">
            <span>Björn</span>
            <form class="topBar"></form>
        </div>
        
        <div class="name" id="name">
            <form class="bottomBar"></form>
            <span>Martens</span>
        </div>
    </div>
</body>
</html>