.pagetitle{
    font-family: "DM Serif Display", serif;
    font-weight: 900;
    font-style: normal;
    color: #ffd300;
}

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }
  